# Other stuff

exp/
data/

# Build stuff

build/
*.o
*.obj

# Image stuff

*.png
*.jpg
*.jpeg

# Python stuff

python/__pycache__/
python/data/
python/venv/

# Include 

include/imgui/
include/glfw/
include/glm/
include/assimp/


# vscode
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/

docs/