[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "include/glfw"]
	path = include/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "include/assimp"]
	path = include/assimp
	url = https://github.com/assimp/assimp.git
[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm.git
[submodule "include/tinycudann"]
	path = include/tinycudann
	url = https://github.com/NVlabs/tiny-cuda-nn.git
[submodule "include/nlohmann"]
	path = include/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "include/libraw"]
	path = include/libraw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "include/librawcmake"]
	path = include/librawcmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
[submodule "include/lcms2"]
	path = include/lcms2
	url = https://github.com/mm2/Little-CMS.git
